# Exclude everything except needed
/*
!/.editorconfig
!/.gitattributes
!/.gitignore

!/.github

!/LICENSE
!/README.md
!/README-void.md
!/shlibs_append
!/shlibs_remove

!/tests
.github/__pycache__/
!/src

# Repository signing keys
!/oco-public.pem
!/oco-repo-key.plist
!/keys/

# Scripts
!/ocoman
!/xut

!/srcpkgs/
/srcpkgs/*

# Start of templates list
!/srcpkgs/android-sdk
!/srcpkgs/aquamarine
!/srcpkgs/brave-browser-bin
!/srcpkgs/brow6el
!/srcpkgs/btrfs-progs
!/srcpkgs/bulletty
!/srcpkgs/bun
!/srcpkgs/bun-bootstrap
!/srcpkgs/candy-icons-git
!/srcpkgs/cc-switch
!/srcpkgs/clitest
!/srcpkgs/Community-Repositories-Collection
!/srcpkgs/corekeyboard
!/srcpkgs/cosign
!/srcpkgs/cosmic-applets
!/srcpkgs/cosmic-applibrary
!/srcpkgs/cosmic-bg
!/srcpkgs/cosmic-comp
!/srcpkgs/cosmic-desktop-full
!/srcpkgs/cosmic-desktop-minimal
!/srcpkgs/cosmic-edit
!/srcpkgs/cosmic-files
!/srcpkgs/cosmic-greeter
!/srcpkgs/cosmic-icons
!/srcpkgs/cosmic-idle
!/srcpkgs/cosmic-launcher
!/srcpkgs/cosmic-monitor
!/srcpkgs/cosmic-notifications
!/srcpkgs/cosmic-osd
!/srcpkgs/cosmic-panel
!/srcpkgs/cosmic-player
!/srcpkgs/cosmic-randr
!/srcpkgs/cosmic-screenshot
!/srcpkgs/cosmic-session
!/srcpkgs/cosmic-settings
!/srcpkgs/cosmic-settings-daemon
!/srcpkgs/cosmic-term
!/srcpkgs/cosmic-tweaks
!/srcpkgs/cosmic-wallpapers
!/srcpkgs/cosmic-workspaces-epoch
!/srcpkgs/CRC-black-hole
!/srcpkgs/CRC-brgvos
!/srcpkgs/CRC-cereus-core
!/srcpkgs/CRC-cereus-extra
!/srcpkgs/CRC-cosmic
!/srcpkgs/CRC-d77void
!/srcpkgs/CRC-hyprland
!/srcpkgs/CRC-jake
!/srcpkgs/CRC-lazy
!/srcpkgs/CRC-librewolf
!/srcpkgs/CRC-noid
!/srcpkgs/CRC-odyssey
!/srcpkgs/CRC-sofijacom
!/srcpkgs/CRC-sonicde
!/srcpkgs/CRC-split
!/srcpkgs/CRC-vostock
!/srcpkgs/CRC-xlibre
!/srcpkgs/crush
!/srcpkgs/cwal
!/srcpkgs/dankcalendar
!/srcpkgs/dashy
!/srcpkgs/desktop-tui
!/srcpkgs/devedeng
!/srcpkgs/distrobox
!/srcpkgs/dragonfly-reverb
!/srcpkgs/dragonfly-reverb-clap
!/srcpkgs/dragonfly-reverb-doc
!/srcpkgs/dragonfly-reverb-lv2
!/srcpkgs/dragonfly-reverb-standalone
!/srcpkgs/dragonfly-reverb-vst
!/srcpkgs/dragonfly-reverb-vst3
!/srcpkgs/drako
!/srcpkgs/easybashgui
!/srcpkgs/faugus-launcher
!/srcpkgs/forgejo-runner
!/srcpkgs/FreeTube
!/srcpkgs/ftxui
!/srcpkgs/ftxui-devel
!/srcpkgs/gama
!/srcpkgs/gh-dash
!/srcpkgs/gh-lazy
!/srcpkgs/ghgrab
!/srcpkgs/glaze
!/srcpkgs/gofer
!/srcpkgs/gradle
!/srcpkgs/graphite-gtk-theme
!/srcpkgs/graphite-gtk-theme-all
!/srcpkgs/graphite-gtk-theme-black
!/srcpkgs/graphite-gtk-theme-black-compact
!/srcpkgs/graphite-gtk-theme-compact
!/srcpkgs/graphite-gtk-theme-compact-all
!/srcpkgs/graphite-gtk-theme-dark
!/srcpkgs/graphite-gtk-theme-dark-compact
!/srcpkgs/graphite-gtk-theme-light
!/srcpkgs/graphite-gtk-theme-light-compact
!/srcpkgs/graphite-gtk-theme-nord
!/srcpkgs/graphite-gtk-theme-nord-compact
!/srcpkgs/graphite-gtk-theme-nord-dark
!/srcpkgs/graphite-gtk-theme-nord-dark-compact
!/srcpkgs/graphite-gtk-theme-nord-light
!/srcpkgs/graphite-gtk-theme-nord-light-compact
!/srcpkgs/gum-panel
!/srcpkgs/helium-browser-bin
!/srcpkgs/hyprcursor
!/srcpkgs/hyprdynamicmonitors
!/srcpkgs/hyprgraphics
!/srcpkgs/hypridle
!/srcpkgs/hyprland
!/srcpkgs/hyprland-devel
!/srcpkgs/hyprland-guiutils
!/srcpkgs/hyprland-protocols
!/srcpkgs/hyprland-qt-support
!/srcpkgs/hyprlang
!/srcpkgs/hyprlock
!/srcpkgs/hyprmoncfg
!/srcpkgs/hyprpaper
!/srcpkgs/hyprpicker
!/srcpkgs/hyprpolkitagent
!/srcpkgs/hyprsunset
!/srcpkgs/hyprsysteminfo
!/srcpkgs/hyprtoolkit
!/srcpkgs/hyprutils
!/srcpkgs/hyprwayland-scanner
!/srcpkgs/kairo
!/srcpkgs/kando
!/srcpkgs/lazyrsync
!/srcpkgs/lemonade-server
!/srcpkgs/libcprime
!/srcpkgs/librewolf-bin
!/srcpkgs/libspng
!/srcpkgs/linuxcommandlibrary
!/srcpkgs/linuxcommandlibrary-desktop
!/srcpkgs/llama.cpp
!/srcpkgs/llmfit
!/srcpkgs/lunasvg
!/srcpkgs/lunasvg-devel
!/srcpkgs/ly
!/srcpkgs/lycan
!/srcpkgs/menu-themes
!/srcpkgs/mesa-amber
!/srcpkgs/nebula-gtk
!/srcpkgs/NuvioDesktop
!/srcpkgs/nvchecker
!/srcpkgs/nwg-bar
!/srcpkgs/nwg-clipman
!/srcpkgs/nwg-displays
!/srcpkgs/nwg-dock
!/srcpkgs/nwg-dock-hyprland
!/srcpkgs/nwg-drawer
!/srcpkgs/nwg-hello
!/srcpkgs/nwg-icon-picker
!/srcpkgs/nwg-menu
!/srcpkgs/nwg-panel
!/srcpkgs/nwg-readme-browser
!/srcpkgs/nwg-shell
!/srcpkgs/nwg-shell-config
!/srcpkgs/nwg-shell-wallpapers
!/srcpkgs/odin2
!/srcpkgs/odin2-clap
!/srcpkgs/odin2-common
!/srcpkgs/odin2-lv2
!/srcpkgs/odin2-standalone
!/srcpkgs/odin2-vst3
!/srcpkgs/omniroute
!/srcpkgs/opencode
!/srcpkgs/patchance
!/srcpkgs/pinguintv-installer-git
!/srcpkgs/pop-fonts
!/srcpkgs/pop-icons
!/srcpkgs/pop-launcher
!/srcpkgs/pop-sounds-theme
!/srcpkgs/proxelar
!/srcpkgs/python3-anysqlite
!/srcpkgs/python3-geographiclib
!/srcpkgs/python3-geopy
!/srcpkgs/python3-hishel
!/srcpkgs/python3-inline-snapshot
!/srcpkgs/python3-linkify-it-py
!/srcpkgs/python3-PyGithub
!/srcpkgs/python3-structlog
!/srcpkgs/python3-textual
!/srcpkgs/python3-uc-micro-py
!/srcpkgs/qrunsvmgr
!/srcpkgs/quickemu
!/srcpkgs/quickosdl
!/srcpkgs/quickshell+
!/srcpkgs/radicle
!/srcpkgs/raysession
!/srcpkgs/rebos
!/srcpkgs/rgc
!/srcpkgs/runkit
!/srcpkgs/rustdesk
!/srcpkgs/sdkmanager
!/srcpkgs/seamonkey-bin
!/srcpkgs/sfizz-cli
!/srcpkgs/sfizz-git
!/srcpkgs/sfizz-lib
!/srcpkgs/sfizz-lv2
!/srcpkgs/sfizz-vst3
!/srcpkgs/shattered-pixel-dungeon
!/srcpkgs/simplex-chat
!/srcpkgs/simplex-chat-desktop
!/srcpkgs/surge-xt
!/srcpkgs/surge-xt-clap
!/srcpkgs/surge-xt-common
!/srcpkgs/surge-xt-lv2
!/srcpkgs/surge-xt-standalone
!/srcpkgs/surge-xt-vst3
!/srcpkgs/svi
!/srcpkgs/tdf
!/srcpkgs/tls-client
!/srcpkgs/tomlplusplus
!/srcpkgs/tomlplusplus-devel
!/srcpkgs/Trilium
!/srcpkgs/tufw
!/srcpkgs/tuisic
!/srcpkgs/typobuster
!/srcpkgs/undelete-btrfs
!/srcpkgs/vbm
!/srcpkgs/Vish
!/srcpkgs/vm-curator
!/srcpkgs/void-hardwaremanager-git
!/srcpkgs/void-live-creator-git
!/srcpkgs/void-software-store
!/srcpkgs/void-software-store-git
!/srcpkgs/void-src-builder-git
!/srcpkgs/void-user-manager-git
!/srcpkgs/vote
!/srcpkgs/vtm
!/srcpkgs/waterfox-bin
!/srcpkgs/wpgtk
!/srcpkgs/xdg-desktop-portal-cosmic
!/srcpkgs/xdg-desktop-portal-hyprland
!/srcpkgs/xut
!/srcpkgs/xxtools-git
!/srcpkgs/zen-browser-bin
!/srcpkgs/zig
