<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>public-key</key>
	<data>MIICIjANBgkqhkiG9w0BAQEFAAOCAg8AMIICCgKCAgEAgaSPrSHceU+KcFjbQUJOWwXAQ4Xu0SAIJbT5xQp2JNe0UYElR8VdnRir9z3cmo7ZA62Drg4uCUZCFtcxFPvbSfxj6A/okdYtf3cQR28KPWHpbvsAoj3qJmy8POtmgQHl+w7+j5QJPaD1OKJRnFBAT+9jylX3BT/tOC/YLzXT4Wgltr3bmj17jyyeJOLYjmYoHZNCfO4nu6PV7jzeMoF2g7A7TSO+LHR/hwRPJ6j3BXDSiuK/tLUKUwhDSfH9i/IVd2bw8GiwGWMbaMLF+h+MLhc94/OUHdbI2AjLLg5z++i7c6XH4TDzftQRxj5m9uyVexpGXT0nSC1RAKpJm8d0bN/K01NO8l0dY582W5rv/Cb6pgZ2EPdHSpxxO4/CakdXR8blRdjqXbWw5ySg8K2IelDj6QQUUYzQ7RLq0+ULAt9YaKkR4t66TeQMmx9vfHNbLbSGNd+7PKKMRGYw4g1aQGZOhC+U9/uI9LR5Uv3S4uyEmQaB60w+ySLeq31ZF3rkTbyki4nw5zas2GhOVKrnhWf+oyhQDwyWDLbnAHgBUWZYJ6iCFVLss7BoZc8SZlyZvBlY47MwZz0rocUWE+lO13O2A4lP3QzbcpKKSoOiOPLCqpZ7hYNWu6+XSC30mgOVHa5TY6wT+e59+86Cavp+jmZEpiKCHXItbGfb/nm6Qw8CAwEAAQ==</data>
	<key>public-key-size</key>
	<integer>4096</integer>
	<key>signature-by</key>
	<string>oSOWoSo <mail@osowoso.org></string>
</dict>
</plist>
